@media only screen and (max-width: 1250px){

    .about-area-section{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .all-text{
        text-align: center;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 550px){

    .about-area-section .main img{
        margin-bottom: 35px;
    }

    .all-text h1{
        font-size: 45px;
        margin-bottom: 20px;
    }

    footer{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}