@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
/*DEFAULT SETUP AREA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6{
    color: #D8D8D8;
}
/*REUSE AREA*/
hr{
    width: 30px;
    height: 2px;
    background-color: #fb774b;
}

/*STICKY AREA*/
.sticky{
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s ease;
}

.sticky:hover{
    background-color: rgba(255, 255, 255, 1);
}

/*NAV AREA*/

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link span:hover,
.navbar-light .navbar-nav .nav-link span.active{
    color: coral;
    border-bottom: 1px solid coral;
}

/*SLIDER AREA*/
.slider{
    overflow-x: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .dot-container{
      position: absolute;
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .dot{
      height: 16px;
      width: 16px;
      background-color: #ccc;
      border-radius: 50%;
      margin-right: 12px;
      margin-top: 7px;
      cursor: pointer;
  }

  .dot.active{
      background-color: #333;
  }

/*BRAND AREA*/
.brand-area img{
    height: 50px;
}

/*NEW AREA*/
.new-area .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

.new-area .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}

.new-area .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    border: none;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
}

.new-area .one .details button:hover{
    color: #fff ;
    border-bottom: 1px solid #fff;
}

.new-area .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.new-area .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.new-area .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/*PRODUCTS AREA*/

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    color: #fff;
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transform: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.8rem;
    color: goldenrod;
}

/*BANNER AREA*/
.banner-area{
    background-image: url(../img/banner.jpg) ;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-area h4{
    color: #D8D8D8;
}

.banner-area h1{
    color: #fff;
}

.banner-area button{
    background-color: #fb774b;
    color: #fff;
}

/*FOOTER AREA*/
footer{
    background-color: #222222;
}

footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover{
    color: #D8D8D8;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

.copyright{
    font-size: 1.2rem;
}

/*PRODUCT SHOP AREA*/
.featured-product-shop-area .product img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}