@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
/*DEFAULT SETUP AREA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6{
    color: #D8D8D8;
}
/*REUSE AREA*/
hr{
    width: 30px;
    height: 2px;
    background-color: #fb774b;
}

/*STICKY AREA*/
.sticky{
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s ease;
}

.sticky:hover{
    background-color: rgba(255, 255, 255, 1);
}

/*NAV AREA*/

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link span:hover,
.navbar-light .navbar-nav .nav-link span.active{
    color: coral;
    border-bottom: 1px solid coral;
}

/*SLIDER AREA*/
.slider{
    overflow-x: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .dot-container{
      position: absolute;
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .dot{
      height: 16px;
      width: 16px;
      background-color: #ccc;
      border-radius: 50%;
      margin-right: 12px;
      margin-top: 7px;
      cursor: pointer;
  }

  .dot.active{
      background-color: #333;
  }

/*BRAND AREA*/
.brand-area img{
    height: 50px;
}

/*NEW AREA*/
.new-area .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

.new-area .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}

.new-area .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    border: none;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
}

.new-area .one .details button:hover{
    color: #fff ;
    border-bottom: 1px solid #fff;
}

.new-area .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.new-area .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.new-area .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/*PRODUCTS AREA*/

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    color: #fff;
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transform: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.8rem;
    color: goldenrod;
}

/*BANNER AREA*/
.banner-area{
    background-image: url(../img/banner.jpg) ;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-area h4{
    color: #D8D8D8;
}

.banner-area h1{
    color: #fff;
}

.banner-area button{
    background-color: #fb774b;
    color: #fff;
}

/*FOOTER AREA*/
footer{
    background-color: #222222;
}

footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover{
    color: #D8D8D8;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

.copyright{
    font-size: 1.2rem;
}

/*PRODUCT SHOP AREA*/
.shop-product .product img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

/*PRODUCT DETAILS AREA*/
.product-details .product-details-left .small-image-group{
    display: flex;
    justify-content: space-between;
}

.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}

.product-details-right select{
    display: block;
    padding: 5px 10px;
}

.product-details-right input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.product-details-right input:focus{
    outline: none;
}

.product-details-right .buy-btn{
    background: #fb774b;
    color: #fff;
    opacity: 1;
    transition: 0.3s all;
}

/*CART AREA*/
.cart-container-area table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.cart-container-area{
    overflow-x: auto;
}

.cart-container-area table th{
    font-weight: 700;
    background-color: #fb774b;
    border: none;
    color: #fff;
    padding: 6px 0;
    text-align: center;
}

.cart-container-area table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}

.cart-container-area table td:nth-child(1){
    width: 100px;
}

.cart-container-area table td:nth-child(2),
.cart-container-area table td:nth-child(3){
    width: 300px;
}

.cart-container-area table td:nth-child(4),
.cart-container-area table td:nth-child(5),
.cart-container-area table td:nth-child(6),
.cart-container-area table td:nth-child(7){
    width: 170px;
}

.cart-container-area table td img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cart-container-area table td i{
    color: #8d8c89;
}

.cart-bottom-area .discount>div,
.cart-bottom-area .total-price>div{
    border: 1px solid #b6b3b3;
}

.cart-bottom-area .discount h5,
.cart-bottom-area .total-price h5{
    background-color: #fb774b;
    border: none;
    color: #fff;
    padding: 6px 12px;
    font-weight: 700;
}

.cart-bottom-area .discount p,
.cart-bottom-area .discount input{
    padding: 0 12px;
}

.cart-bottom-area .discount input{
    height: 44px;
    margin: 0 0 20px 12px;
}
.cart-bottom-area .total-price div>div{
    padding: 0 12px;
}

.cart-bottom-area .total-price h6{
    color: #2a2a2a;
}

.second-hr{
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}

.cart-bottom-area .total-price div>button{
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}


.addToCartForm button{
    display: block;
    margin-top: 15px;
}
#table_cart{
    width: 100%;
}
/*CONTACT AREA*/
.contact-section{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(../img/about-banner.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form h2{
    color: #fff;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50%-10px);
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: all;
}

.contact-form .send-btn:hover{
    background: #0582E3;
}

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    bottom: 0;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
    visibility: hidden;
}

.alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    bottom: 0;
    border-left: 8px solid #FFA502;
    border-radius: 4px;

    visibility: hidden;
}

/*DELIVERY AREA*/
.delivery-area{
    padding-top: 200px;
    padding-bottom: 100px;
}
.delivery-content-left{
    width: 60%;
    padding-right: 25px;
}
.delivery-content-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.delivery-content-left label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}
.delivery-content-left> p{
    font-weight: bold;
}
.delivery-content-left-input-top{
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-button p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: inline-block;
}
.delivery-content-left-button span{
    margin-right: 12px;
}
.delivery-content-left-button{
    justify-content: space-between;
    padding-top: 20px;
}
.delivery-content-left-button button{
    height: 35px;
    border: 1px solid black;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.delivery-content-left-button button:hover{
    background-color: black;
    color: #fff;
}
.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}
.delivery-content-right table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.delivery-content-right table tr th:first-child{
    text-align: left;  
}
.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td{
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}
.delivery-content-right table tr td:last-child{
    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}


/*ORDER SUCESSFULL AREA*/

.order-sucessfull-area{
    margin-top: 200px;
    height: 400px;
}

.order-sucessfull-area ul{
    list-style-type: none;
}

.order-sucessfull-area p{
    display: inline;
}

.order-sucessfull-area h1{
    text-align: center;
    color: #242d60;
}
/*SHOW MESSAGE AREA*/
.addSuccess{
    color: rgb(2, 230, 2);
    margin-bottom: 10px;
    position: absolute;
}
.addError{
    margin-bottom: 10px;
    color: red;
    position: absolute;
}